/* defult css views are made for a laptop screen */

/* LARGE SCREEN */

@media(min-width: 1500px) {

    /* MAIL */

    .email-table-container td {
        font-size: 1.2rem;
    }


    .email-from {
        width: 300px;
    }

    .email-subject {
        width: 550px;
    }

    .email-body {
        width: 450px;
    }


    /* HOMEPAGE */

    .horse {
        height: 500px;
        width: 500px;
    }

    .main-title {
        font-size: 4rem;
    }

}

/* MEDIUM */

@media (max-width: 1170px) {
    .main-layout {
        max-width: 900px;
    }

    /* MAIL */

    .main-email-container {
        max-width: unset;
    }

    .email-body {
        display: none;
    }

    .email-edit-icon {
        font-size: 0.7rem;
    }

    /* KEEP */

    .keep-preview-container {
        width: unset;
    }
}

/* MEDIUM -SMALL*/
@media (max-width: 900px) {
    .main-layout {
        max-width: 800px;
    }

    /* KEEP */

    .keep-preview-container {
        min-width: 650;
    }

    .keep-preview-container {
        column-count: 2;
    }

    /* MAIL */
    .email-details-container {
        max-width: 750px;
    }
}

/* SMALL */

@media (max-width: 768px) {

    /*MAIN WEBSITE*/
    .main-layout {
        max-width: 650px;
    }

    .header-navbar {
        width: 80%;
    }

    .app-page {
        min-height: 75vh;
    }

    /*HOME PAGE*/
    .team-info-container {
        flex-direction: column;
    }


    /*ABOUT PAGE*/

    .home-container {
        flex-direction: column;
    }

    .horse {
        height: 250px;
        width: 250px;
    }

    /* MAIL */
    .main-email-container {
        flex-direction: column;
    }

    .email-aside {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .email-folders {
        display: flex;
    }

    .compose-email-btn {
        height: 40%;
    }

    .email-filter-sort {
        margin-bottom: 20px;
    }

}

/*PHONE*/
@media (max-width: 500px) {

    .main-layout {
        max-width: 425px;
    }

    /* KEEP */
.keep-list { 
    margin: 2%;
}
    .keep-preview-container {
        column-count: 1;
    }
    .pinned-preview-container{
        column-count: 1;
        padding: 0;
    }
    /* MAIL */

    .email-date {
        display: none;
    }


}