.fadeHeight-enter-active,
.fadeHeight-leave-active {
    transition: all 0.4s;
    max-height: 15vh;
}

.fadeHeight-enter,
.fadeHeight-leave-to {
    opacity: 0;
    max-height: 0px;
}

.fade-enter-active,
.fade-leave-active {
    transition-duration: 0.3s;
    transition-property: opacity;
    transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
    opacity: 0
}



.height-enter-active,
.height-leave-enter {
    transform: translateY(65vh);
    transition: all .1s  ease-in-out;
}
.height-enter,
.height-leave-to {
    transform: translateY(100vh);

}
