td {
    padding: 20px;
    overflow: hidden;
}

.email-from {
    font-weight: bold;
    width: 150px;
}

.email-subject {
    width: 395px;
}

.email-body {
    width: 435px;
    font-style: italic;
}

.email-date {
    width: 125px;
}

/* edit bar */

.email-edit-bar {
    width: 100px;
}

.email-edit-icon {
    display: inline-block;
    padding: 0 4px;
}