/* EMAILS TABLE */

.email-table-container {
    max-width: 1000px;
    max-height: 500px;
    margin: 0 30px;
    overflow-y: scroll;
    padding-top: 20px;
}

.email-table {
    background-color: #fff7f4;
    border-collapse: collapse;
    width: 100%;
    font-size: 0.9rem;
    text-align: left;
    table-layout: fixed;
    font-weight: bold;
}

/* rows */

tr:not(:last-child) {
    border-bottom: 1px solid rgb(148, 146, 146);
    cursor: pointer;
}

.read {
    background-color: #e4dcdc;
    font-weight: normal;
}


/* scroll bar */
::-webkit-scrollbar-thumb {
    background: #cebcbc;
}

::-webkit-scrollbar {
    background-color: rgb(238, 228, 228);
}