.email-compose {
    position: fixed;
    right: 1%;
    bottom: 0;
    background-color: #f3e6e6;
    box-shadow: 0px 1px 11px 1px #857b75;
    border-radius: 10px;
    padding-bottom: 40px;
}

.new-email-title {
    margin-inline-start: 10px;
}

.close-compose-email {
    position: absolute;
    right: 15px;
}

.email-compose input,
textarea {
    width: 100%;
    padding: 10px;
}

.email-compose input {
    font-family: monospace;
}

.email-compose textarea {
    font-size: 1rem;
    margin-bottom: 10px;
}

.email-submit-btn {
    position: absolute;
    padding: 15px;
    right: 0;
    bottom: 0;
}