/* EMAILS TABLE */

.email-table-container {
    max-height: 500px;
    margin: 0 30px;
    overflow-y: scroll;
}

.email-table {
    background-color: #fff7f4;
    border-collapse: collapse;
    width: 100%;
    font-size: 0.9rem;
    text-align: left;
    table-layout: fixed;
    font-weight: bold;
}

/* rows */

tr:hover {
    color: #a17373;
}

tr:not(:last-child) {
    border-bottom: 1px solid rgb(148, 146, 146);
    cursor: pointer;
}

.read {
    background-color: #e4dcdc;
    font-weight: normal;
}

