td {
    padding: 20px;
    overflow: hidden;
}

.email-from {
    width: 150px;
}

.email-subject {
    width: 360px;
}

.email-body {
    width: 300px;
    font-style: italic;
}

.email-date {
    width: 125px;
}

/* edit bar */

.email-edit-bar {
    width: 95px;
}

.email-edit-icon {
    display: inline-block;
    padding: 0 4px;
}