.about-container {
    flex-direction: column;
    margin: 2% auto;
    text-align: center;
    font-size: 1.2rem;
    color: rgb(88, 69, 51);

}
.about-container h1{
    color: #ba9999;
}
.about-text-container{
    flex-direction: column;
    justify-content: space-evenly;
}
.about-text-container a {
    color: #977e7e;

}
.team-member {
    flex-direction: column;
    align-items: center;
    margin: 0 5%;
}

.team-member img {
    width: 250px;
    border-radius: 50%;
}

.team-member .fab { 
    font-size: 2rem;
    color: #ba9999;

}

.team-member .secondary-text { 
font-size: 1rem;
color: #ba9999;
margin-top: 1%;
}