.app-page {
    margin: 0;
    flex-direction: column;
    align-items: center;
}

.horse {
    width: 400px;
    height: 400px;
    background: transparent;
    border: none;
    margin: 3% auto;
    position: relative;
    animation: 3s ease 0s normal none infinite swing;
}

.home-container {
    width: 43%;
    margin: 0 auto;
    align-items: center;
}

.home-page h1 {
    font-family: 'Lobster';
    color: #ba9999;
    margin: 0;

}

.main-title {
    font-size: 3rem;
}

.app-title {
    font-size: 2rem;
    font-family: 'Ubuntu';
    cursor: pointer;
    color: #d1c1b7;
    transition: all .2s ease;
}
.app-title:hover { 
    color: #ba9999;

}

@keyframes swing {
    0% {
        -webkit-transform: rotate(-3deg)
    }

    50% {
        -webkit-transform: rotate(3deg)
    }

    100% {
        -webkit-transform: rotate(-3deg)
    }
}