.keep-preview-container {
    column-count: 3;
    column-gap: 1.5rem;
    list-style-type: none;
    width: 75%;
    margin: 3% auto;
    transition: .2s all;
    padding-bottom: 5%;

}



@media (max-width: 1350px) {
    .keep-preview-container {
        column-count: 2;
    }
}