.keep-preview {
    border: 1px solid lightgray;
    border-radius: 15px;
    min-height: 15vh;
    width: 300px;
    margin: 5%;
    padding: 1rem;
    box-shadow: 0 5px 2px 0 rgb(0 0 0 / 15%), 0 5px 1px -4px rgb(0 0 0 / 25%), 0 1px 15px 0 rgb(0 0 0 / 12%);
    word-wrap: break-word;
    font-size: 1.2rem;
    transition: .2s all;
    flex-direction: column;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    display: inline-flex;
    background-color: #fff;

}

.keep-preview:hover {
    background-color: whitesmoke;
    cursor: pointer;
}

.keep-preview.pinned {
    order: -1;
}

.keep-preview img {
    width: 95%;
    margin: 0 auto;
    padding-bottom: 5%;

}

.keep-preview iframe {
    height: 18vh;
    width: 95%;
    margin-bottom: 5%;
}

.keep-preview ul {
    text-align: left;
}

.keep-preview-pin {
    align-self: flex-end;
    margin-bottom: 3%;
    color: rgb(209, 198, 181);
    transform: rotate(25deg);
    transition: .2s all;
}

.keep-preview-pin:hover {
    transform: rotate(0);
    color: rgb(165, 148, 122);
    transition: .2s all;
}

.pinned-preview-container .keep-preview-pin {
    transform: rotate(0);
    color: rgb(22, 22, 22);

}

.edit-bar-container {
    width: 80%;
    margin: auto auto 0 auto;

}

.edit-bar {
    justify-content: space-between;
    padding: 0;
    align-items: baseline;
    list-style-type: none;
    color: rgb(165, 148, 122);

}

.edit-bar li {
    transition: .2s all;

}

.edit-bar li:hover {
    color: rgb(22, 22, 22);
}

.edit-bar .color-input {
    position: relative;
    width: 25px;
    height: 25px;
    right: 2vh;
    border: none;
}

.note-edit input {
    width: 100%;
    border-radius: 5px;
    margin-top: 5%;
    border: none;
    height: 3vh;
    box-shadow: 0 5px 2px 0 rgb(0 0 0 / 15%), 0 5px 1px -4px rgb(0 0 0 / 25%), 0 1px 15px 0 rgb(0 0 0 / 12%);

}