.add-container {
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    border-radius: 5px;
    border: none;
    box-shadow: 0 5px 2px 0 rgb(0 0 0 / 15%), 0 5px 1px -4px rgb(0 0 0 / 25%), 0 1px 15px 0 rgb(0 0 0 / 12%);
    width: 400px;
    background-color: white;
}


.keep-add li {
    cursor: pointer;
    transition: .2s all;
    margin-inline-end: 7px;
}

.keep-add li:hover {
    color: rosybrown;
}



.keep-add input {
    margin-left: 5%;
    height: 50px;
    width: 270px;
    border: none;
    outline: none;
}