@import './email-details.css';
@import '../cmps/email-compose.cmp.css';

@import '../cmps/email-list.cmp.css';
@import '../cmps/email-preview.cmp.css';
@import '../cmps/email-filter-sort.cmp.css';
@import '../cmps/email-folders.cmp.css';

.main-email-container {
    max-width: 93%;
    max-height: 70vh;
    margin: auto auto 60px;
    display: flex;
    justify-content: center;
}