@import './email-details.css';
@import '../cmps/email-compose.cmp.css';

@import '../cmps/email-list.cmp.css';
@import '../cmps/email-preview.cmp.css';

.main-email-container {
    display: flex;
    justify-content: center;
}

/* later move to email-filter */
.email-search {
    text-align: center;
    margin-bottom: 30px;
}