/* should be similiar to .email-table-container */
.email-details-container {
    margin: auto;
    text-align: center;
    width: 1030px;
    margin: 0 30px;
    padding-top: 20px;
    background-color: #e4dcdc;
}