footer {
    background-color: #d1c1b7;
    font-size: 1rem;
}

.footer-container {
    color: #ba9999;
    height: 70px;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}