footer {
    background-color: #d1c1b7;
    font-size: 1rem;
}

.footer-container {
    height: 70px;
    margin: 0 auto;
    width: 25%;
    align-items: center;
    justify-content: space-evenly;


}