header {
    background-color: #d1c1b7;
}

.header-container {

    justify-content: space-between;
    align-items: center;
    height: 12vh;
    margin-bottom: 40px;
}

.header-navbar {
    color: rgb(88, 69, 51);
    justify-content: space-evenly;
    width: 45%;
    list-style-type: none;
    font-size: 1.1rem;
}
.header-navbar a:hover  {
    color: #977e7e;
}
.header-navbar a:focus  {
    color: #977e7e;
    font-weight: 800;
}

.logo {
    width: 55px;
    height: auto;
    margin-inline-start: 30px;
}